<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Wordpop</title>
        <meta name="description" content="Displays words in order of popularity from Craigslist search"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href='http://fonts.googleapis.com/css?family=Aladin&amp;text=Wordp' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="/styles/master.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        {{{ body }}}
    </body>
</html>