<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Wordpop</title>
        <meta name="description" content="Displays words in order of popularity from Craigslist search"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href='http://fonts.googleapis.com/css?family=Aladin&amp;text=Wordp' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="/styles/master.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <header>
            <nav>
                <div class='container'>
                    <a href='/'><span class='brand'>Wordpop</span></a>
                    <ul>
                        <a href='/cities-comparison'><li>City Comparison</li></a>
                    </ul>
                </div>
            </nav>
        </header>
        <main class='container'>
            <hgroup>
                <h1>Cities Comparison</h1>
                <h2 class='subtitle'>Number of Software Jobs</h2>
            </hgroup>
             <div id='error_container'></div>
            <div id='category-bar-graph-wrapper'></div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script type="text/javascript">var WDP = {};WDP.baseUrl = 'http://localhost:3000/';WDP.page='cities_comparison';</script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>