<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Wordpop</title>
        <meta name="description" content="Displays words in order of popularity from Craigslist search"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="/styles/master.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <header class='jumbotron'>
            <div class='container'>
                <h1>Wordpop</h1>
                <p>See the popularity of words in Craigslist searches</p>
            </div>
            <div class='container'>
                <form method='GET' id='search_form'>
                    <select name='search_city' id='search_city'>
                    </select>
                    <select name='search_category' id='search_category'>
                    </select>
                    <select name='search_subcategory' id='search_subcategory'>
                    </select>
                    <input type="search" placeholder="Search Craigslist" name='search_query' id='search_query' />
                    <input type="submit" id="submit_button"/>
                </form>
            </div>
            
        </header>
        
        <main>
            <div id='viz-wrapper'></div>

            <ol id='main_list' class='container'></ol>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script type="text/javascript">var WDP = {};WDP.baseUrl = 'http://localhost:3000/';</script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>