<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Wordpop</title>
        <meta name="description" content="Displays words in order of popularity from Craigslist search"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href='http://fonts.googleapis.com/css?family=Aladin&amp;text=Wordp' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="/styles/master.css"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <header class='jumbotron'>
            <nav>
                <div class='container'>
                    <a href='/'><span class='brand'>Wordpop</span></a>
                    <ul>
                        <a href='/'><li>City Comparison</li></a>
                    </ul>
                </div>
            </nav>
            <div class='container'>
                <h1 class='brand'>Wordpop</h1>
                <p>See the popularity of words in your Craigslist searches</p>
            </div>
            <div class='container'>
                <form method='GET' id='search_form'>
                    <div class='form-group'>
                        <select name='search_city' id='search_city'>
                            <optgroup label='City'>
                            </optgroup>
                        </select>
                    </div>
                    <div class='form-group'>
                        <select name='search_category' id='search_category'>
                            <optgroup label='Category'>
                            </optgroup>
                        </select>
                    </div>
                    <div class='form-group'>
                        <select name='search_subcategory' id='search_subcategory'>
                            <optgroup label='Subcategory' id='search_subcategory_optgroup'>
                            </optgroup>
                        </select>
                    </div>
                    <div class='form-group'>
                        <input type="search" placeholder="Search Craigslist" name='search_query' id='search_query' />
                    </div>
                    <div class='form-group'>
                        <input type="submit" id="submit_button"/>
                    </div>
                </form>
            </div>
            <div class='progress_counter_container' id='progress-counter'></div>
            <div class='progress_bar_container' id='progress_bar_container'><div class='progress_bar' id='progress_bar'></div></div>
        </header>
        
        <main>
            <div class='viz_container clearfix'>
                <div id='viz-wrapper'></div>
                <div id='category-bar-graph-wrapper'></div>
            </div>

            <ol id='main_list' class='container'></ol>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script type="text/javascript">var WDP = {};WDP.baseUrl = 'http://localhost:3000/';</script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>