/**
* Layout
*/
.container{
	max-width: $container_width;
	margin: 0 auto;
}

#main_list{
	list-style-position: inside;
	padding: 0;
}

#main_list li{
	@include font_size(1);
	padding: 0.5em 0;
}

#main_list li:nth-child(even){
	background-color: lighten($color_secondary, 30%);
}

@include media_q(lg){
	#main_list, .viz_container{
		width: 49%;
		float: left;
	}
	.viz_container{
		float: left;
	}
	#main_list{
		float: right;
	}
	#main_list li{
		@include font_size(-1);
		padding: 0.5em 0;
	}
}