g.dots text{
	display: none;
}
g.dots:hover{
	text{
		display: block;	
	}
	circle{
		fill: $color_secondary;
	}
	
}
//acts as background color for text
//i cannot get this to show up
// g.dots .word_label_background{
// 	fill: red;
// 	stroke: red;
// }
