/*
* Layout for data viz containers
* and list of search term results
*/

.viz_container{
	margin-bottom: 2em;
}

@include media_q(lg){
	.viz_subcontainer{
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
}


#main_list{
	list-style-position: inside;
	padding: 0;
	overflow-x:hidden; //causes huge horizontal scrollbar on mobile with no content for some reason without this
}

#main_list li{
	@include font_size(1);
	padding: 0.5em $universal_padding_left_right;
}

#main_list li:nth-child(even){
	background-color: lighten($color_secondary, 30%);
}
