/*
* Layout for data viz containers
* and list of search term results
*/

.viz_container{
	margin-bottom: 2em;
}

@include media_q(lg){
	.viz_subcontainer{
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
}

